---
import CardModal from "../components/Card.astro"
---
<div class="absolute top-2.5 left-2.5">
<CardModal id="1" link="store.arduino.cc/en-de/products/make-your-uno-kit" imgsrc="https://store.arduino.cc/cdn/shop/files/AKX00037_01.box_643x483.jpg?v=1727100922" imgalt="Arduiono Make your UNO Lötkit" text="Arduino Make your Uno Loetkit (ich kann kein ö schreiben)" title="Arduino Make Your UNO Kit" ></div>

