<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Meine Wunschliste</title>
  </head>
  <body>
    <slot />
  </body>
</html>
